/* Variables */
:root {
  --background-color: #f5f5f4;
  --text-color: #333;
  --window-border-radius: 6px;
}

body, html {
  overflow-x: hidden;
}

.main-content {
  padding-top: 1rem !important;
  margin: 0px !important;
  padding-bottom: 1rem !important;
}

@media screen and (min-width: 768px) {
  .main-content {
    padding-top: 20vh !important;
  }
}

.is-div-hidden {
 display: none;
}

.is-horizontal-center {
  justify-content: center;
}

.is-overlay {
  position:relative !important;
  margin-top: 2rem !important;
}

.image.is-logo-mary {
  height: 120px;
  width: 120px;
}
